:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --alternative-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --alt-bg-color: #2f303a;
}

body {
  background-color: var(--alternative-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--alternative-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.close {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--alternative-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  fill: var(--accent-color);
}

.form {
  width: 448px;
  padding: 40px 0;
}

.form h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field > span {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: calc(50% + 2px);
}

.form-field:focus-within .form-input {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.form-field:focus-within .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  padding: 12px 40px;
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
  height: 120px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.16x;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field:focus-within > textarea {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.checkmark-icon {
  position: absolute;
  left: 0;
  top: 4px;
  fill: transparent;
  border: 2px solid transparent;
  border-radius: 2px;
  background-origin: border-box;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  margin-right: 7px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  appearance: none;
}

.checkbox:checked ~ .checkmark-icon {
  fill: var(--alternative-color);
  background-color: var(--accent-color);
}

.checkbox:checked + .checkbox-icon {
  fill: transparent;
}

.deal-link {
  margin-left: 4px;
  color: var(--accent-color);
}

.submit-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  height: 50px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--alternative-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #188ce8;
}

/*Site nav*/

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.navig {
  margin-left: 93px;
}

.site-nav > li:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.accent-logo {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* active link */

.site-nav .active {
  color: var(--accent-color);
}

/*Cont nav*/

.cont-nav {
  display: flex;
  margin-left: auto;
}

.cont-nav > li:not(:last-child) {
  margin-right: 40px;
}

.cont-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-nav .link:hover,
.cont-nav .link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */

.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;

  background-color: var(--alt-bg-color);
  text-align: center;
}

.hero .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  color: var(--alternative-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  border: transparent;

  color: var(--alternative-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Features */

.feat {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  display: flex;
}

.features-card:not(:last-child) {
  margin-right: 30px;
}

.feat-title {
  margin-top: 0;
  margin-bottom: 10px;
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.feat-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feat-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

.feat-icon {
  display: block;
  width: 70px;
  height: 70px;
}

/* examples */

.examp {
  padding-bottom: 94px;
}

.examples {
  display: flex;
}

.example {
  position: relative;
}

.example:not(:last-child) {
  margin-right: 30px;
}

.examp-descr {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  color: var(--alternative-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

.examp-descr > p {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* team */

.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
}

.team > li:not(:last-child) {
  margin-right: 30px;
}

.team > li > img {
  display: block;
}

.team-job {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 10px 0;
}

.team-descr {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--alternative-color);
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-networks {
  display: flex;
  justify-content: center;
}

.team-network:not(:last-child) {
  margin-right: 10px;
}

.network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-netw {
  fill: currentColor;
}

.network-link:hover,
.network-link:focus {
  color: var(--alternative-color);
  background-color: var(--accent-color);
}

/* clients */

.regular-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-logo {
  fill: currentColor;
}

/* footer */

.footer-navigation {
  display: flex;
  align-items: baseline;
}

.foot-address {
  margin-right: 70px;
}

.footer {
  background-color: var(--alt-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--alternative-color);
}

.footer-link {
  display: block;
  margin-top: 12px;
  color: var(--footer-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--alternative-color);
}
.address-text {
  color: var(--alternative-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 28px;
}

.footer-networks > p,
.footer-sign > p {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--alternative-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.foot-network:not(:last-child) {
  margin-right: 10px;
}

.footer-netw-links {
  display: flex;
}

.foot-netw-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--alternative-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-netw-link:hover,
.foot-netw-link:focus {
  background-color: var(--accent-color);
}

.foot-netw {
  fill: currentColor;
}

.footer-sign {
  margin-left: 93px;
}

.footer-form-container {
  display: flex;
}

.footer-form input {
  width: 358px;
  padding: 15px 0 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-button {
  display: flex;
  justify-content: center;
  height: 50px;
  min-width: 200px;
  margin-left: 12px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--alternative-color);
}

.button-icon {
  margin-left: 10px;
  fill: var(--alternative-color);
}

/* PORTFOLIO PAGE */

/* portfolio nav */

.portfolio {
  padding: 94px 0;
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav .active-btn > button {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  color: var(--alternative-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-nav > li > button {
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav > li > button:hover,
.portfolio-nav > li > button:focus {
  color: var(--alternative-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-nav > li:not(:last-child) {
  margin-right: 8px;
}

/* portfolio projects */

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-projects > li {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-projects > li:nth-child(3n) {
  margin-right: 0;
}

.portfolio-projects > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-descr {
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-projects .link {
  text-decoration: none;
  display: block;
}

.portf-card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-card {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image {
  position: relative;
  overflow: hidden;
}

.hover-descr {
  margin-top: 0;
  margin-bottom: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--alternative-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translateY(0);
}
